[submodule "arduino/lib/CAP1296"]
	path = arduino/lib/CAP1296
	url = git@github.com:cscashby/CAP1296.git
[submodule "hardware/notes/logic-levels/4-Channel-Level-Shifter-PCB"]
	path = hardware/notes/logic-levels/4-Channel-Level-Shifter-PCB
	url = git@github.com:adafruit/4-Channel-Level-Shifter-PCB.git
[submodule "hardware/libraries/arduino-kicad-library"]
	path = hardware/libraries/arduino-kicad-library
	url = https://github.com/Alarm-Siren/arduino-kicad-library.git
