[submodule "arduino/lib/SSD_13XX"]
	path = arduino/lib/SSD_13XX
	url = git@github.com:cscashby/SSD_13XX.git
[submodule "arduino/lib/CAP1296"]
	path = arduino/lib/CAP1296
	url = git@github.com:cscashby/CAP1296.git
